<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dinhisme</title>
    <!-- jQuery -->
    <script src="js/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <script src="js/bootstrap.min.js"></script>
    <script src="js/angular.min.js"></script>
    <script src="js/angular-route.js"></script>
    <script src="js/db/Students.js"></script>
    <script src="js/db/Subjects.js"></script>
    <link rel="stylesheet" href="css/mycss.css">
    <script src="js/myscript.js"></script>
    <script src="https://smtpjs.com/v3/smtp.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/8.2.10/firebase-analytics.js"></script>
    <link rel="icon" href="images/Picture2.png">
</head>

<body ng-app="myApp">
    <div class="container" id="main">
        <div id="mySidenav" class="sidenav">
            <a class="closebtn" onclick="closeNav()">&times;</a>
            <a href="#!about">
                <img style="width: 80%; margin: 10px 0;" src="images/logoDred2.png" alt="">
            </a>
            <a href="#!about">GAME</a>
            <a href="#!subject">QUIZZ</a>
        </div>
        <header class="row">
            <nav class="navbar navbar-inverse menu-top">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a href="#!about">
                            <img class="navbar-brand" style="padding: 6px 15px" src="images/logoDred2.png" alt="">
                        </a>
                    </div>
                    <div class="collapse navbar-collapse" id="myNavbar">
                        <ul class="nav navbar-nav middle">
                            <li>
                                <a href="" onclick="openNav()">CATEGORY
                                    <span class="glyphicon glyphicon-chevron-right"></span>
                                </a>
                            </li>
                            <li><a href="#!contact">CONTACT</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-show="user == null">
                            <li><a href="#!signup"><span class="glyphicon glyphicon-user"></span> SIGN UP</a></li>
                            <li><a href="#!login"><span class="glyphicon glyphicon-log-in"></span> LOGIN</a></li>
                        </ul>
                        <ul class="nav navbar-nav navbar-right" ng-hide="user == null">
                            <li data-toggle="dropdown"><a href=""><span style="font-size: x-larger;"
                                        class="glyphicon glyphicon-user"></span> {{user}}<span class="caret"></span></a>
                            </li>
                            <ul class="dropdown-menu">
                                <li><a href="#!account">Account</a></li>
                                <li><a href="#!about" ng-click="logout()">Log out</a></li>
                            </ul>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <main id="bg" onclick="closeNav(), closeForm()">
            <div ng-view>
            </div>
        </main>
        <!-- popup chat hỏi đáp -->
        <div ng-controller="QA-Ctrl">
            <button class="open-button" onclick="openForm()">CHAT <span style="font-size: medium;"
                    class="glyphicon glyphicon-envelope"></span></button>
            <div class="chat-popup" id="myForm">
                <form action="" class="form-container">
                    <div class="row title-chat">
                        <h3 class="pull-left"><span style="font-size: large;"
                                class="glyphicon glyphicon-envelope"></span> CHAT</h3>
                        <a class="pull-right closebtn-close-popup" onclick="closeForm()">&times;</a>
                    </div>
                    <hr style="width: 100%; margin: 0 !important;">
                    <div class="chat">
                        <ul class="list-unstyled" style="color: white; text-align: right;">
                            <li ng-repeat="qa in QAQuestions">{{qa}}</li>
                        </ul>
                    </div>
                </form>
                <div
                    style="background-color: rgb(255, 255, 255); border-bottom-left-radius: 16px; border-bottom-right-radius: 16px;">
                    <hr>
                    <div class="ip-popup-parent">
                        <textarea class="ip-popup" placeholder="Type your question" rows="2"
                            ng-model="addQAQuestion">...</textarea>
                        <a class="ip-popup-sm" ng-click="addQA()"><span class="glyphicon glyphicon-send"
                                ng-click="addQA()"></span></a>
                    </div>
                </div>
            </div>
        </div>
        <footer class="row ft ">
            <div class="container-fluid ft-content ">
                <div class="col-sm-12 text-center ">
                    <a href="#!about">
                        <img style="width: 150px; margin: 15px 0;" src="images/logoDred2.png" alt="">
                    </a>
                    <div class="row-ic ">
                        <button type="button " class="btn btn-primary btn-ic "><img src="icon/glyphicon-facebook.png "
                                alt=" "></button>
                        <button type="button " class="btn btn-primary btn-ic "><img src="icon/glyphicon-twitter.png "
                                alt=" "></button>
                        <button type="button " class="btn btn-primary btn-ic "><img src="icon/glyphicon-instagram.png "
                                alt=" "></button>
                        <button type="button " class="btn btn-primary btn-ic "><img src="icon/glyphicon-linkedln.png "
                                alt=" "></button>
                        <button type="button " class="btn btn-primary btn-ic "><img src="icon/glyphicon-github.png "
                                alt=" "></button>
                    </div>
                    <br>
                    <br>
                </div>
            </div>
        </footer>
    </div>
    <script src="myapp/myapp.js"></script>
    <script src="myapp/subjectsJS.js"></script>
    <script src="myapp/quizzsJS.js"></script>
    <script src="myapp/login.js"></script>
    <script src="myapp/account.js"></script>
    <script src="myapp/QA.js"></script>
    <script src="myapp/signup.js"></script>
    <script src="myapp/feedback.js"></script>

    <script type="module">
        import { initializeApp } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-app.js";
        import { getAnalytics } from "https://www.gstatic.com/firebasejs/9.17.1/firebase-analytics.js";

        const firebaseConfig = {
            apiKey: "AIzaSyDsR3EMWNc_I3zNPKUzRKpYSqerIBkt1Vk",
            authDomain: "dinhisme-88f9e.firebaseapp.com",
            databaseURL: "https://dinhisme-88f9e-default-rtdb.firebaseio.com",
            projectId: "dinhisme-88f9e",
            storageBucket: "dinhisme-88f9e.appspot.com",
            messagingSenderId: "316977239721",
            appId: "1:316977239721:web:3ec8deef90576238ee3bb8",
            measurementId: "G-R0HTK5K519"
        };
        firebase.initializeApp(firebaseConfig);
        firebase.analytics();

        const app = initializeApp(firebaseConfig);
        const analytics = getAnalytics(app);
    </script>

</body>

</html>