<section>
    <br>
    <br>
    <div class="container-fluid signup">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 form-su">
                <form ng-controller="ac-ctrl" name="frmAC">
                    <div class="form-su-child">
                        <div class="container-fluid">
                            <h2 class="title-form">Account</h2>
                            <p>
                            <h3>Your information at this website</h3>
                            </p>
                        </div>
                        <br>
                        <div class="row container-fluid">
                            <div class="ip-su col-lg-6">
                                <label for="fn">
                                    <h4>Fullname</h4>
                                </label>
                                <input type="text" id="fn" class="form-control" placeholder="" name="txtUpdateUserName"
                                    ng-model="accountUserFullname" required />
                                <h4 ng-show="frmAC.txtUpdateUserName.$invalid" ng-hide="validate != 1"><span
                                        style="color: red;" class="glyphicon glyphicon-warning-sign"></span> Fullname is
                                    empty!!!
                                </h4>
                            </div>
                            <div class="ip-su col-lg-6">
                                <label for="us">
                                    <h4>Username</h4>
                                </label>
                                <input type="text" id="us" placeholder="" class="form-control btn-changePW"
                                    value="{{accountUser.username}}" readonly />
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="ip-su col-lg-6">
                                <label for="em">
                                    <h4>Email</h4>
                                </label>
                                <input type="email" id="em" class="form-control btn-changePW" placeholder=""
                                    value="{{accountUser.email}}" readonly />
                            </div>
                            <div class="ip-su col-lg-6">
                                <label for="m">
                                    <h4>Marks</h4>
                                </label>
                                <input type="text" id="m" class="form-control btn-changePW" placeholder=""
                                    value="{{accountUser.marks}}" readonly />
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="ip-su col-lg-6">
                                <label for="bd">
                                    <h4>Date of birth</h4>
                                </label>
                                <input type="date" id="bd" class="form-control btn-changePW" placeholder=""
                                    value="{{accountUser.birthday}}" name="txtUpdateUserBirthday" readonly />
                            </div>
                            <div class="ip-su col-lg-6">
                                <label for="">
                                    <h4>Gender</h4>
                                </label>
                                <div class="rdo">
                                    <div class="">
                                        <input type="radio" value="true" ng-model="accountUser.gender"
                                            id="maleGender" />
                                        <label for="maleGender">Male</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" value="false" ng-model="accountUser.gender"
                                            id="femaleGender" />
                                        <label for="femaleGender">Female</label>
                                    </div>
                                    <div class="">
                                        <input type="radio" value="other" ng-model="accountUser.gender"
                                            id="otherGender" />
                                        <label class="form-check-label" for="otherGender">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row container-fluid">
                            <div class="ip-su col-lg-6">
                                <label for="opw">
                                    <h4>Your password</h4>
                                </label>
                                <input ng-show="change == false" type="button"
                                    class="form-control btn-changePW text-center" placeholder=""
                                    ng-click="changePassword()" value="Change password" />
                                <input ng-show="change == true" type="password" id="opw" class="form-control"
                                    placeholder="Please type your password to change new password"
                                    name="txtUserOldPassword" ng-model="AccountUserOldPassword" required />
                                <h4 ng-show="frmAC.txtUserOldPassword.$invalid" ng-hide="validate != 2"><span
                                        style="color: red;" class="glyphicon glyphicon-warning-sign"></span> Password is
                                    empty!!!
                                </h4>
                                <h4 ng-show="frmAC.txtUserOldPassword.$invalid" ng-hide="validate != 5"><span
                                        style="color: red;" class="glyphicon glyphicon-warning-sign"></span> Your
                                    password is
                                    incorrect!!!
                                </h4>
                            </div>
                        </div>
                        <div class="row container-fluid" ng-show="change == true">
                            <div class="ip-su col-lg-6">
                                <label for="npw">
                                    <h4>New password</h4>
                                </label>
                                <input type="password" id="npw" class="form-control"
                                    placeholder="Type your new password" name="txtUpdateUserPassword"
                                    ng-model="AccountUserNewPassword" required />
                                <h4 ng-show="frmAC.txtUpdateUserPassword.$invalid" ng-hide="validate != 3">
                                    <span style="color: red;" class="glyphicon glyphicon-warning-sign"></span> New
                                    password is empty!!!
                                </h4>
                            </div>
                            <div class="ip-su col-lg-6">
                                <label for="nrpw">
                                    <h4>Repeat new password</h4>
                                </label>
                                <input type="password" id="nrpw" class="form-control"
                                    placeholder="Repeat your new password" name="txtUpdateUserRePassword"
                                    ng-model="AccountUserReNewPassword" required />
                                <h4 ng-show="frmAC.txtUpdateUserRePassword.$invalid" ng-hide="validate != 4">
                                    <span style="color: red;" class="glyphicon glyphicon-warning-sign"></span> Repeat
                                    new password is empty!!!
                                </h4>

                                <h4 ng-show="frmAC.txtUserOldPassword.$invalid" ng-hide="validate != 6"><span
                                        style="color: red;" class="glyphicon glyphicon-warning-sign"></span> Repeat
                                    new password incorrect!!!
                                </h4>
                            </div>
                        </div>
                        <br>
                        <div class="row text-center">
                            <div class="">
                                <button type="submit" class="btn btn-primary btn-lg" ng-click="updateAC()">Save</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>