<script src="https://smtpjs.com/v3/smtp.js"></script>
<section>
    <div class="container-fluid login" ng-controller="login-ctrl">
        <div class="row">
            <div class="col-lg-6">
                <img class="img-li" width="60%" src="images/Picture1.png" class="img-fluid">
            </div>
            <div class="col-lg-4 col-lg-offset-1 side-li" id="li">
                <form name="frmLi" class="form-li">
                    <div class="row top-li">
                        <div>
                            <p class="lead top-btn-ic">
                                <label> Login with</label>
                            </p>
                        </div>
                        <div>
                            <button type="button" class="btn btn-primary
                                btn-ic"><img src="icon/glyphicon-google.png" alt=""></button>
                            <button type="button" class="btn btn-primary
                                btn-ic"><img src="icon/glyphicon-facebook.png" alt=""></button>
                            <button type="button" class="btn btn-primary    
                                btn-ic"><img src="icon/glyphicon-twitter.png" alt=""></button>
                        </div>
                    </div>
                    <p class="text-center or"> <label>Or</label></p>
                    <div>
                        <div class="ip">
                            <label for="username">
                                <h4>Username</h4>
                            </label>
                            <input type="text" id="username" name="txtUsername" class="form-control"
                                placeholder="Type username" ng-model="Username" required>
                            <h4 ng-show="frmLi.txtUsername.$invalid" ng-hide="validatetxtUser == true"><span
                                    style="color: red;" class="glyphicon
                                    glyphicon-warning-sign"></span> Username is empty!!!</h4>
                        </div>
                        <br>
                        <div class="ip">
                            <label for="password">
                                <h4>Password</h4>
                            </label>
                            <input id="password" name="txtPassword" type="password" class="form-control"
                                placeholder="Type password" ng-model="Password" required>
                            <h4 ng-show="frmLi.txtPassword.$invalid" ng-hide="validatetxtPass == true"><span
                                    style="color: red;" class="glyphicon
                                    glyphicon-warning-sign"></span>
                                Password is empty!!!</h4>
                        </div>
                    </div>
                    <br>
                    <div class="checkbox-li">
                        <div class="chk">
                            <input class="chk1" type="checkbox" value="" id="rmbme" />
                            <label class="chk2" for="rmbme">Remember me</label>
                        </div>
                        <a class="fp-l" data-toggle="modal" id="fpw" data-target="#exampleModal">
                            <label class="chk2" for="fpw">Forgot password</label>
                        </a>
                    </div>
                    <div class="text-center row">
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="check()">Login</button>
                        <p class="last-form-li">Don't have an account? <a href="#!signup" class="register">Sign Up</a>
                        </p>
                    </div>
                </form>
                <!-- Dialog đổi mật khẩu -->
                <div class="modal fade fp-dialog" id="exampleModal" role="dialog">
                    <div class="modal-dialog">
                        <div class="modal-content" style="color: black;">
                            <div class="text-center dialog-header">
                                <h3>Forgot Password</h3>
                            </div>
                            <form class="modal-body row" name="frmFW">
                                <div class="ip ip-dialog">
                                    <h4>Please type your email and i'm gonna send you a id request have 6 number!!!</h4>
                                    <div class="ip" ng-hide="exist == true">
                                        <input style="color: black;" type="email" class="form-control"
                                            placeholder="Type your email" id="Email" required />
                                        <div class="text-center" style="margin-top: 20px; margin-bottom: -15px;">
                                            <button type="submit" class="btn btn-primary btn-dialog"
                                                ng-click="alreadyExist()">Send</button>
                                        </div>
                                    </div>
                                    <div ng-hide="exist == false" ng-show="IDRequestAfterCheck == false">
                                        <div class="ip">
                                            <label for="IdRequestFromUser">
                                                <h4>Type your id request from your email</h4>
                                            </label>
                                            <input type="number" class="form-control" placeholder="type your Id request"
                                                id="IdRequestFromUser" required />
                                        </div>
                                        <div class="text-center" style="margin-top: 20px; margin-bottom: -15px;">
                                            <button type="submit" class="btn btn-primary btn-dialog"
                                                ng-click="checkIdRequest()">Confirm</button>
                                        </div>
                                    </div>
                                    <div ng-show="IDRequestAfterCheck == true">
                                        <div class="ip">
                                            <label for="NewPW">
                                                <h4>Type your new passowrd</h4>
                                            </label>
                                            <input type="password" class="form-control" id="NewPW"
                                                placeholder="Type your new passowrd" required />
                                        </div>
                                        <div class="text-center" style="margin-top: 20px; margin-bottom: -15px;">
                                            <button type="submit" class="btn btn-primary btn-dialog"
                                                ng-click="changePW()">Confirm</button>
                                        </div>
                                    </div>
                                </div>
                                <br>
                            </form>
                            <div class="container-fluid bottom-dialog">
                                <a class="register" href="#!login">Login</a>
                                <a class="register" href="#!signup"> Sign up</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>